/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

/* General Styles */
* {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    color: #ebeeec;
    background-color: #140a0a;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    width: 0px; 
    display: none; 
}
::selection {
    color: #4682b4;
}

/* RENUNGAN */
.Renungan h1 {
    font-size: 5rem;
    font-weight: 500;
    font-family: 'Sacramento', cursive;
    text-align: center;
    margin-bottom: 50px;
    color: #ebeeec;
}

.Renungan {
    margin: 10px;
}

.Renungan-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 10px;
    max-width: 1400px; 
    margin: 0 auto;
}

.Renungan-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 7; 
    max-width: 70%; 
}

.Renungan-items a {
    text-decoration: none;
    color: inherit;
}

.Renungan-item {
    position: relative;
    overflow: hidden;
    background-color: #140a0a;
    color: #ebeeec;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #ebeeec;
    transition: color 0.7s ease, border 0.7s ease;
    margin: 5px;
    flex-grow: 1;
    min-width: 300px;
}

.Renungan-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ebeeec;
    transition: left 0.8s ease;
    z-index: 0;
}

.Renungan-item:hover::before {
    left: 0;
}

.Renungan-item:hover {
    color: #140a0a;
    border: 2px solid transparent;
}

.Renungan-item > * {
    position: relative;
    z-index: 1;
}

.Renungan-News {
    background-color: #140a0a;
    margin: 10px;
    border-radius: 4px;
    color: #ebeeec;
    text-align: center;
    flex: 3; 
    max-width: 30%; 
    border: 2px solid #ebeeec;
    justify-content: space-between; 
}

.Renungan-News-item {
    background-color: #140a0a; 
    border-radius: 4px;
    padding: 10px; 
    color: #ebeeec;
    transition: background-color 0.5s ease, color 0.5s ease; 
}

.Renungan-News-item:hover {
    background-color: #ebeeec; 
    color:#140a0a;
    transition: background-color 0.5s ease, color 0.5s ease; 
}

.Renungan-News-item img {
    width: 100%; 
    border-radius: 4px;
    margin-bottom: 10px;
}

.Renungan-News-item h3 {
    font-size: 1.5rem; 
    font-weight: bold; 
}

.Renungan-News-item p {
    font-size: 1rem;
}

/* Search Bar */
#searchInput {
    padding: 10px;
    border: 2px solid #b1b1b1;
    border-radius: 5px;
    margin: 0 5px;
    width: auto;
}

#searchInput:focus {
    border-color: #4682b4;
}

#searchButton {
    padding: 10px 20px;
    background-color: #3c6c93;
    color: #ebeeec;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #45a049;
}

/*Comments */
.comments {
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
}

.comment {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #ebeeec;
}

.comment p {
    margin: 5px 0;
    color:#140a0a;
}

.btn {
    margin-right: 5px;
}

.comment-form {
    max-width: auto;
    margin: 0;
    margin: 10px;
    padding: 1.5rem;
    border: 1px solid #ebeeec;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #ebeeec;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ebeeec;
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #ebeeec;
    background-color: #1e2129;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #13151a;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

.modal-content {
    background-color: #140a0a;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #ebeeec;
    width: 80%;
    border-radius: 10px;
    color: #ebeeec;
}

.close {
    color: #cdcdcd;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #140a0a;
    text-decoration: none;
    cursor: pointer;
}
